{% extends "layouts/base.njk" %}
{% block baseContent %}

    <!-- i need here breadcrumb -->
     <div class="container-fluid pt-5 mb-5 page-header">
        <div class="container py-5 pb-3">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown mb-3">{{ title }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center align-items-end">
                            <li class="breadcrumb-item"><a class="text-white" href="/">الرئيسية</a></li>
                            {% for crumb in breadcrumb %}
                            {% if loop.last %}
                            <li class="breadcrumb-item text-white active" aria-current="page">{{ crumb.label }}</li>
                            {% else %}
                            <li class="breadcrumb-item"><a class="text-white" href="{{ crumb.url }}">{{ crumb.label }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div dir="rtl" class="container-fluid pt-5">
        
        <!-- Main Content Section -->
        {% block pageContent %}{% endblock %}

    </div>

{% endblock %}